<mat-card style="width: 500px; margin: auto">
  <form class="column" (submit)="login()" [formGroup]="loginForm">
    <mat-form-field>
      <input matInput type="email" placeholder="Username" formControlName="myUsername">
      <mat-error>Username is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [formControl]="passwordControl">
      <mat-error>Password is invalid</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" style="align-self: flex-end" [disabled]="loginForm.invalid">LoginResponse</button>
  </form>
  <span>Don't have an account? <a class="link" routerLink="/signup">Signup</a></span>
</mat-card>
<app-spinner *ngIf="loading"></app-spinner>
