<div>
<span fxFlex="1 1 0"></span>
<div class="search">
  <form>
    <mat-form-field style="width:300px !important">
      <input type="text" matInput [formControl]='searchControl'>
      <mat-placeholder>
        <i class="material-icons app-input-icon">search</i> <span class="placeHolder">Search</span>
      </mat-placeholder>
    </mat-form-field>
  </form>
</div>
</div>

<div class="videos">
  <mat-card class="space">
      <span class="moveIcon">
        <i class="material-icons" id="iconStyle">add</i>
        <p>
          Add Video
        </p>
  </span>
  </mat-card>
  <app-display-videos *ngFor="let video of videos" [video]="video"></app-display-videos>
  <span *vaFlexAlignmentHack="20"></span>

</div>


<!--<span fxFlex="1 1 1"></span>-->










<!--<mat-card class="space">-->
      <!--<span class="moveIcon">-->
        <!--<i class="material-icons" id="iconStyle">add</i>-->
        <!--<p>-->
          <!--Add Video-->
        <!--</p>-->
  <!--</span>-->
<!--</mat-card>-->
<!--<app-display-videos class="space" *ngFor="let video of videos" [video]='video'>-->
<!--</app-display-videos>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->

